body {
  margin: 0px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #333;
}
.leaflet-control-wind-position {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 5px;
  margin: 0 !important;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.wind-overlay {
  position: absolute;
  z-index: 1;
}
* {
  outline: none !important;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

input.to-labelauty + label { display: inline-block; margin-right: 5px; }
input.to-labelauty + label:last-child { margin-right: 0; }